.dashboard-container {
  text-align: center;
}

.card-grid {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 2rem;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: #f0f0ff;
}
